parameters:
    database_host: {{ parameters.database_host }}
    database_port: {{ parameters.database_port }}
    database_name: {{ parameters.database_name }}
    database_user: {{ parameters.database_user }}
    database_password: {{ parameters.database_password }}
    mailer_transport: {{ parameters.mailer_transport }}
    mailer_host: {{ parameters.mailer_host }}
    mailer_user: {{ parameters.mailer_user }}
    mailer_password: {{ parameters.mailer_password }}
    secret: {{ parameters.secret }}
